@font-face {
  font-family: "Quicksand";
  src: url("/Quicksand\ font\ 1/static/Quicksand-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("/Quicksand\ font\ 1/static/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("/Quicksand\ font\ 1/static/Quicksand=Semibold.ttf")
    format("truetype");
  font-weight: bolder;
  font-style: normal;
}
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #eeeeee;
  font-family: "Quicksand";
  font-weight: medium;
  color: rgba(34, 34, 34, 1);
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 98vh;
  /* width: 100vw; */
}
header {
  /* background-position-x: 184px; */
  height: 6vh;
  background-image: url("header pattern svg.svg");
  background-blend-mode: soft-light;
  background-color: rgb(35 46 59);
  display: flex;
  padding: 5px 0px 5px 29px;
  align-items: center;
  justify-content: space-between;
  background-size: 176%;
  border-bottom: rgba(49, 185, 228, 1) 3px solid;
  /* width: 100%; */
}

.header_logo {
  height: 80%;
}

.form_div {
  margin: 50px auto;
  border-top: rgba(58, 199, 236, 1) 4px solid;
  height: 550px;
  width: 424px;
  padding: 22px 32px;
  background-color: white;
}

.form_header {
  /* display: flex;
        margin: auto;
        /* width: 1 */
  /* text-align: center;
        justify-content: center;
        font-size: 24px;
        align-items: center; */
  /* position: relative;
        right: 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
  color: #222222;
  font-weight: medium;
}

.back {
  width: 24px;
}

.dis_none {
  visibility: hidden;
}

.form_purpose {
  /* position: relative;
        right: 10px; */
  grid-column: 49 / 168;
  text-align: center;
  font-size: 24px;
}

.rad_btn_container {
  font-family: 16px;
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

.radbtn {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.not_sel {
  background-image: url("icons/radio-button-off.svg");
}

.sel {
  background-image: url("icons/radio-button-on.svg");
}

.rad_btn_opt {
  display: flex;
  gap: 8px;
  align-items: center;
}

.picker {
  color: #666666;
  font-size: 12px;
}
.dropdowns {
  display: flex;
  flex-direction: column;
  gap: 33px;
  justify-content: space-between;
}

.dd_container {
  display: flex;
  flex-direction: column;
  /* gap: 1px; */
  padding: 0px;
  border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
  /* margin-bottom: 33px; */
  font-size: 16px;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greybott {
  border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
}

.inputs {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.input > input,
.input > div > input {
  width: 100%;
  line-height: 200%;
  border: none;
  font-size: 16px;
  /* border-bottom: rgba(0, 0, 0, 0.1) 2px solid; */
}

.input > input::placeholder,
.input > div > input::placeholder {
  font-size: 16px;
  color: #666666;
}

.input > input:focus,
.input > div > input:focus {
  /* font-size: 26px; */
  /* color: #666666; */
  border: none;
  outline: none;
  /* border-bottom: 2px solid red; */
}

.forgot {
  text-align: end;
  color: #1f7a54;
  font-size: 14px;
  text-transform: uppercase;
}

.remember_me {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}

.submit_button {
  margin: 34px auto 0px auto;
  height: 40px;
  width: 215px;
}

button {
  height: 100%;
  width: 100%;
  background-color: #3fd28b;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}

footer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  bottom: 0;
}

.above_moreinfo {
  display: flex;
  margin-bottom: 16px;
}

.pd-5 {
  padding: 0px 20px;
  color: #1f7a54;
}

.about {
  border-right: 1px solid #0000001f;
}

.moreinfo {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #e0e1e1;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
}

.quantumlogo {
  padding-right: 20px;
  border-right: 1px solid #0000001f;
}

.dev_name {
  font-weight: bolder;
}
.z {
  z-index: 10;
}

.dd_list {
  /* border: 1px solid red; */
  position: absolute;
  /* top: 20px; */
  display: none;
  background-color: rgb(165, 165, 241);
  width: 425px;
  /* display: flex; */
  flex-direction: column;
  border-radius: 2px;
  /* padding: 10px; */
  /* align-items:; */
  gap: 20px;

  /* display: block; */
}

.st_dd {
  top: 325px;
}

.dis_dd {
  top: 401px;
  /* display: block; */
}

.dd_element {
  display: flex;
  justify-content: space-between;
}

.input_pass,
.input_un {
  display: flex;
  justify-content: space-between;
}

.see {
  margin-right: 5px;
}

.not_sel_cb {
}

.sel_cb {
}

.abs {
  position: absolute;
  top: 64px;
  /* bottom: 0; */
  /* right: 25px; */
}

.none {
  display: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#announcements_dd {
  background-color: white;
  right: 48px;
  height: 582px;
  /* overflow-y: scroll; */
  /* position: relative; */

  display: none;
  flex-direction: column;
  justify-content: space-between;
  /* height: 90%; */
}

.announcement {
  gap: 8px;
  width: 283px;
}

.announcement > div {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}

.announcement > .content {
  font-size: 14px;
}

.ann_container {
  padding: 10px 16px;
}

.files_attached_num_div {
  display: flex;
  align-items: center;
}

.flex-end {
  justify-content: end !important;
  /* position: absolute;
  right: 0; */
}

.show_create_ann {
  display: flex;
  justify-content: space-between;
  padding: 16px 10px;
  /* position: absolute; */
  /* bottom: 0; */
  height: 32px;
  align-items: center;
  box-shadow: -1px 0px 5px #0000003d;
  border: 2px 2px 2px 2px;
  color: #1f7a54;
  /* padding:  */
}

.show_create_ann > div {
  /* height: 50%; */
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
  font-size: 14px;
}

.show_create_ann > div {
  /* border-right: 1px solid grey; */
}

.right-border {
  border-right: 1px solid grey;
}

#announcements_dd_all {
  display: flex;
  flex-direction: column;
  height: 534px;
  overflow-y: scroll;
  /* justify-content: ; */
}

.ann_container {
  border-bottom: 1px solid grey;
  background-color: #ffffee;
  color: #6e6e6e;
}

.checked {
  background-color: white !important;
}

.pa_name,
.content {
  color: black;
  /* font-weight: 500; */
}
